PORT=8899

# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=azdome

# Khusus Docker Compose: MySQL Root Password
MYSQL_ROOT_PASSWORD=your_root_password
